<ion-header no-border>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_content">
    <div class="div_logo">
      <img style="height: 250px; width: 250px;" src="assets/images/logo_ropapp.png" class="img_logo" />
    </div>

    <div class="div_primary_text">
      <div class="div_inner">
        <img src="assets/images/user_icon.png" class="img_user" />
        <ion-input type="text" Placeholder="Email Address" class="in"></ion-input>
      </div>

      <div class="div_inner">
        <img src="assets/images/lock.png" class="img_user" />
        <ion-input type="password" Placeholder="Password" class="in"></ion-input>
      </div>

      <!-- <ion-label class="lbl_forgot" (click)="reset()">Olvidaste contraseña?</ion-label> -->
      <div class="div_social">
        <ion-row>
          <ion-col size="6" style="text-align : right;">
            <ion-label class="lbl_forgot"  [routerLink]="['/admin']">Administrador</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="lbl_forgot" (click)="reset()">Olvidaste contraseña?</ion-label>
          </ion-col>
        </ion-row>
      </div>
      
      <div class="div_btn">
        <ion-button color="primary" class="btn_login" expand="block" mode="ios" (click)="signin()">Ingresar</ion-button>
      </div>

      <div class="div_or">
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="3">
            <div class="img_line"></div>
          </ion-col>
          <ion-col size="2">
            <ion-label class="lbl_or">O</ion-label>
          </ion-col>
          <ion-col size="3">
            <div class="img_line"></div>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </div>

      <div class="div_social">
        <ion-row>
          <ion-col size="6" style="text-align : right;">
            <img src="assets/images/fb.png" class="img_fb" />
          </ion-col>
          <ion-col size="6">
            <img src="assets/images/gplus.png" class="img_gplus" />
          </ion-col>
        </ion-row>
      </div>

      <ion-label class="lbl_create" (click)="createAccount()">Crea una cuenta</ion-label>
    </div>

  </div>
</ion-content>