<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">

  <div class="prod_main">
    <ion-label class="title">FAQ</ion-label>
  </div>
  
  <ion-card>
    <ion-card-header>
      Order tracking and Delivery
      <ion-icon name="arrow-forward" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content class="text-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Refund
      <ion-icon name="arrow-forward" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content class="text-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Cancellation of orders
      <ion-icon name="arrow-forward" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content class="text-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Seller Support
      <ion-icon name="arrow-forward" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content class="text-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Payments
      <ion-icon name="arrow-forward" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content class="text-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </ion-card-content>
  </ion-card>
</ion-content>