<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_content">
    <div class="div_logo">
      <img style="height: 250px; width: 250px;" src="assets/images/logo_ropapp.png" class="img_logo" />
    </div>

    <div class="div_primary_text" *ngIf="step==1">
      <div class="div_inner">
        <img src="assets/images/user_icon.png" class="img_user" />
        <ion-input type="text" Placeholder="Email Address" class="in"></ion-input>
      </div>

      <div class="div_btn">
        <ion-button color="primary" class="btn_login" expand="block" mode="ios" (click)="step = 2">Enviar </ion-button>
      </div>

    </div>

    <div class="div_primary_text" *ngIf="step==2">
      <div class="div_inner">
        <img src="assets/images/user_icon.png" class="img_user" />
        <ion-input type="text" Placeholder="OTP" class="in"></ion-input>
      </div>

      <div class="div_btn">
        <ion-button class="btn_login" expand="block" mode="ios" (click)="step = 3">Verificar </ion-button>
      </div>

    </div>

    <div class="div_primary_text" *ngIf="step==3">

      <div class="div_inner">
        <img src="assets/images/lock.png" class="img_user" />
        <ion-input type="password" Placeholder="Password" class="in"></ion-input>
      </div>
      <div class="div_inner">
        <img src="assets/images/lock.png" class="img_user" />
        <ion-input type="password" Placeholder="Confirm Password" class="in"></ion-input>
      </div>
      <div class="div_btn">
        <ion-button class="btn_login" expand="block" mode="ios" (click)="changes()">Actualizar contraseña</ion-button>
      </div>

    </div>

  </div>
</ion-content>