<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Category
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="3" class="ion-no-padding">
      <div scrollY="true" class="menu-content">
        <ion-row *ngFor="let item of data" [class.mnu-selected]="item._id == tabSelected" id="mnu_{{item._id}}">
          <ion-col size="12" class="side_col" (click)="onMenuClick(item._id)">
            <ion-icon [src]="item.icon" class="icon-menu"></ion-icon>
            <ion-label class="menutext">{{item.name}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

    <ion-col size="9" class="ion-no-padding">
      <ion-content #content>
        <ion-row *ngFor="let cate of data" [id]="cate._id">
          <ion-col size="12">
            <ion-text class="text_head">{{cate.name}}</ion-text>
            <ion-slides pager>
              <ion-slide *ngFor="let cover of cate.cover_image">
                <img class="coverimage" [src]="cover.image" (click)="onCoverClick(cover._id)">
              </ion-slide>
            </ion-slides>
            <ion-row>
              <ion-col size="4" *ngFor="let brand of cate.brands" (click)="onBrandClick(cate._id,brand._id)">
                <img class="brand" [src]="brand.image">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center size="4" *ngFor="let product of cate.products"
                (click)="onPromotionClick(product._id)">
                <img class="productimage" [src]="product.image">
                <ion-label class="producttext">{{product.name}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-content>