<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Administrador del local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment mode="ios" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Crear">
      <ion-label>Subir prenda</ion-label>
    </ion-segment-button>
    <ion-segment-button value="MisPrendas">
      <ion-label>Mis prendas</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
  <div *ngIf="publisher === 'Crear'" >
    <div align="center" class="ion-padding">
      <ion-button style="width: 100%;
      height: 270px;
      border-radius: 16px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;"
      mode="ios" fill="outline" class="image-slide"
      (click)="openGallery()">
      <ion-icon slot="start" color="primary" name="images"></ion-icon>
      Imagen de prenda
      </ion-button> 
      <img (click)="openGallery()" class="image-slide" [src]="urlImage | async" *ngIf="urlImage | async">
    </div>
    <ion-item>
      <ion-label position="floating">Nombre de la prenda</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio de la prenda</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button mode="ios" expand="block">Cargar</ion-button>
  </div>

  <div *ngIf="publisher === 'MisPrendas'" >
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" *ngFor="let item of forYou">
          <div class="main_frame" (click)="onCategorySelect(item)">
            <div [style.backgroundImage]="'url('+item.img+')'" class="product_img"></div>
            <p class="header_title">{{item.header}}</p>
            <p class="footer_title">{{item.footer}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>
