<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_main_text">
    <div class="div_logo">
      <img src="assets/images/icon.png" class="img_logo" />
    </div>
    <div class="div_inner">
      <img src="assets/images/user_icon.png" class="img_user" />
      <ion-input type="text" Placeholder="Firstname" class="in"></ion-input>
    </div>

    <div class="div_inner">
      <img src="assets/images/user_icon.png" class="img_user" />
      <ion-input type="text" Placeholder="Lastname" class="in"></ion-input>
    </div>

    <div class="div_inner">
      <img src="assets/images/mail.png" class="img_user" />
      <ion-input type="email" Placeholder="Email" class="in"></ion-input>
    </div>

    <div class="div_inner">
      <img src="assets/images/lock.png" class="img_user" />
      <ion-input type="password" Placeholder="Password" class="in"></ion-input>
    </div>

    <div class="div_inner">
      <img src="assets/images/lock.png" class="img_user" />
      <ion-input type="password" Placeholder="Confirm Password" class="in"></ion-input>
    </div>

    <div class="div_btn">
      <ion-button class="btn_login" expand="block" mode="ios" (click)="signup()">Sign up</ion-button>
    </div>

    <div class="div_or">
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="3">
          <div class="img_line"></div>
        </ion-col>
        <ion-col size="2">
          <ion-label class="lbl_or">OR</ion-label>
        </ion-col>
        <ion-col size="3">
          <div class="img_line"></div>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </div>

    <div class="div_social">
      <ion-row>
        <ion-col size="6" style="text-align : right;">
          <img src="assets/images/fb.png" class="img_fb" />
        </ion-col>
        <ion-col size="6">
          <img src="assets/images/gplus.png" class="img_gplus" />
        </ion-col>
      </ion-row>
    </div>

    <ion-label class="lbl_create" (click)="login()">Sign In</ion-label>
  </div>
</ion-content>