<ion-content (click)="dismiss()">

  <div class="group">
    <ion-list>
      <ion-radio-group mode="md">
        <ion-list-header>
          Filtrado por:
        </ion-list-header>
        <ion-item (click)="sort(0)">
          <ion-label>Primero</ion-label>
          <ion-radio checked="true" value="newest"></ion-radio>
        </ion-item>
        <ion-item (click)="sort(1)">
          <ion-label>Precio - Alto a bajo</ion-label>
          <ion-radio value="price_h_l"></ion-radio>
        </ion-item>
        <ion-item (click)="sort(2)">
          <ion-label>Precio - Bajo a alto</ion-label>
          <ion-radio value="price_l_h"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>